<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>tt.home.aly.pet</title>

		<link href="//mincss.com/entireframework.min.css" rel="stylesheet" type="text/css">
		<script>
			const url = "https://tt.home.aly.pet"
			function input(e) {
				document.getElementById('display_url').textContent = e.value
				if (e.value === "") {
					document.getElementById('copy_url').href = url
					return
				}
				document.getElementById("copy_url").href = url + "?url=" + e.value
			}
		</script>
	</head>
	<body>
		<div class="container">
			<h1>ttmp4</h1>
			<form>
				<input type=text name=url id=url style="width:50%" oninput="input(this)"><br>
				<a href="https://tt.home.aly.pet/" id="copy_url">https://tt.home.aly.pet/?url=<span id="display_url"></span></a>
				<input type=submit>
			</form>
			<div style="display:flex;flex-wrap:wrap;gap:10px">
				{% for l in listing %}
					<div style="flex:1"><a href="{{ l }}.mp4"><img src="{{ l }}.webp"></a></div>
				{% endfor %}
			</div>
		</div>
		<a class="github-fork-ribbon" href="https://github.com/alyssadev/ttmp4" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
	</body>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
	<script>
	(function() {
		input(document.getElementById("url"))
	})()
	</script>
</html>

