<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>tt.home.aly.pet</title>

		<link href="//mincss.com/entireframework.min.css" rel="stylesheet" type="text/css">
		<script>
			function get_root() {
				return window.location.protocol + "//" + window.location.hostname + "/"
			}
			function input(e) {
				document.getElementById('display_url').textContent = e.value
				if (e.value === "") {
					document.getElementById('copy_url').href = get_root()
					document.getElementById("copy_url").style.display = "none"
					return
				} else {
					document.getElementById("copy_url").style.display = "initial"
				}
				document.getElementById("copy_url").href = get_root() + "?url=" + e.value
			}
		</script>
		<style>
			#copy_url {
				display: none;
			}
			img {
				max-height: 300px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<h1>ttmp4</h1>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			<div class="msg">
				<strong>Error</strong>
				{{ messages|join("; ") }}
			</div>
			{% endif %}
			{% endwith %}
			<form>
				<input type=text name=url id=url style="width:50%" oninput="input(this)"><br>
				<input type=submit>
				<a href="/" id="copy_url">
					<script>document.write(get_root());</script>?url=<span id="display_url"></span>
				</a>
			</form>
			<div style="display:flex;flex-wrap:wrap;gap:10px">
				{% for l in listing %}
					<div><a href="{{ l }}.mp4"><img src="{{ l }}.webp"></a></div>
				{% endfor %}
			</div>
		</div>
		<a class="github-fork-ribbon" href="https://github.com/alyssadev/ttmp4" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
	</body>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
	<script>
	(function() {
		input(document.getElementById("url"))
	})()
	</script>
</html>

